# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
docs/plans

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
*.tsbuildinfo
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Claude local
.claude/
.superpowers/

test-results
playwright-report

# Coverage report
coverage
